html{
    background-color: #282b28;
    color:white;
    text-align: center;
}

a{
    color:white;
    text-decoration:none;
}

a:hover{
    text-decoration: underline;
    color:#e63946;
}

h1{
    text-align: center;
}
.lang{
    text-align:right;
}

.main{
    width:fit-content;
    margin:0 auto;
}

#firstnumber{
    margin-bottom: 10px;
    outline:none;
    border-radius: 2px;
}

#firstnumber:focus, #secondnumber:focus{
    border-color:#e63946;
}

#secondnumber{
    margin-left:1px;
    outline:none;
    border-radius:2px;
}

#firstnumber, #secondnumber{
    font-size:20px;
}

label{
    font-size:20px;
}

button{
    position: relative; 
    top: 15px;
    padding:10px;
    background-color:#e63946;
    border-color:#e63946;
    border-radius: 5px;
}

button:active{
    border-color:#e639479a;
    background-color:#e639479a;
}

.main>p{
    margin-top: 30px;
    text-align: center;
    font-size:25px;
}

@media screen and (max-width: 1000px){
    html{
        font-size: 3rem;
    }

    button{
        padding: 40px;
        font-size:inherit;
        margin-top: 20px;
    }
    #firstnumber, #secondnumber{
        font-size:1rem;
        width:537.667px;
        padding: 30px 0 30px 10px;
    }
    
    #firstnumber{
        margin-left:-1px;
        margin-bottom:30px;
    }
    .main>p{
        font-size: 1.5rem;
    }
}